# Arquivos Python compilados
__pycache__/
*.py[cod]
*$py.class

# Ambientes e dependências
.venv/
venv/
env/
*.env

# Builds e distribuições
build/
dist/
*.egg-info/
.eggs/
*.manifest
*.spec

# IDEs e ferramentas
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs e temporários
*.log
*.tmp
*.bak
.DS_Store
Thumbs.db

# Dados e resultados
data/
datasets/
**/data/

# Arquivos de bloqueio temporários
.~lock.*

# Jupyter / Experimentos
.ipynb_checkpoints/
*.checkpoint

# Artigos muito extensos
themes/_4_knowledge_graphs/references

# Outros
__MACOSX/
